<div class="create_template" ng-controller="BotonesController">
    <div class="alert alert-success" role="alert" align=center>
        <a class="btn btn-success" href="#!/lista" (click)="isShown = false"
            ng-click='cambiar()' ng-hide="visibilidad">MODULO EMPLEADOS</a>
    </div>

    <div class="alert alert-secondary" role="alert" align=center>
        <a class="btn btn-secondary" href="#!/listaProv" (click)="isShown = false" 
                ng-click='cambiar()' ng-hide="visibilidad">MODULO ADMINISTRACIÓN</a>
    </div>
</div>